<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <mapping class="org.gromila.shopapp.entity.User"/>
        <mapping class="org.gromila.shopapp.entity.Order"/>
        <mapping class="org.gromila.shopapp.entity.Role"/>
        <mapping class="org.gromila.shopapp.entity.Payment"/>
        <mapping class="org.gromila.shopapp.entity.Item"/>
        <mapping class="org.gromila.shopapp.entity.Feedback"/>
        <mapping class="org.gromila.shopapp.entity.Authority"/>
        <mapping class="org.gromila.shopapp.entity.OrderDetails"/>
    </session-factory>
</hibernate-configuration>
